.porsche{
  background-color: #0f0f0f !important;
  height: 90vh;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./assets/Images/metal.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

:root{

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
    background-color: #0f0f0f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Arkship';
  src: local('Arkship'), url(./fonts/Arkhip/Commercial/TTF/Arkhip-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nordic';
  src: local('Nordic'), url(./fonts/Nordic/Nordic\ Alternative\ Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Anurati';
  src: local('Anurati'), url(./fonts/anurati_font/Anurati-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Azonix';
  src: local('Azonix'), url(./fonts/Azonix.otf) format('truetype');
}

@font-face {
  font-family: 'Potra';
  src: local('Potra'), url(./fonts/Potra.otf) format('truetype');
}

h1, h2{
  font-family: Azonix;
}

p{
  font-family: Arkship;
}

.header h1{
  position: absolute;
  left: 90px;
  color: whitesmoke;
  font-family: Azonix;
}

.header p{
  position: absolute;
  top: 50px;
  left: 90px;
  color: whitesmoke;
  font-family: Azonix;
}

nav{
position: absolute;
z-index: 1;
right: 90px;
font-family: Azonix;
}

nav ul li {
  display: inline;
}

nav ul li a{
  padding-left: 10px;
  color: whitesmoke;
  text-decoration: none;
}

.home__about{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.home__featured{
background-color: #0f0f0f;
margin-right: auto;
margin-left: auto;
width: 100%;
}

.home__featured__projects{
  background-color: rgb(75, 75, 75) !important;
  background-size: cover;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.home__contact{
  width: 90%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.contact__info{
  width: 90%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}